{% if paginator.posts %}
{% for page in paginator.posts %}
<div class="item mb-5">
    <div class="media">
        <img class="mr-3 img-fluid post-thumb d-none d-md-flex"
            src="{{ 'assets/images/blog/blog-post-thumb-6.jpg' | relative_url }}" alt="image">
        <div class="media-body">
            <h3 class="title mb-1"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h3>
            <div class="meta mb-1"><span class="date">Published 3 months ago</span><span class="time">5 min
                    read</span><span class="comment"><a href="#">4 comments</a></span></div>
            <div class="intro">{{ page.excerpt | markdownify | truncatewords: 60 }}.</div>
            <a class="more-link" href="blog-post.html">Read more &rarr;</a>
        </div><!--//media-body-->
    </div><!--//media-->
</div><!--//item-->
{% endfor %}
{% include post-pagination.html %}
{% else %}
{% for page in site.posts %}
<div class="item mb-5">
    <div class="media">
        <img class="mr-3 img-fluid post-thumb d-none d-md-flex"
            src="{{ 'assets/images/blog/blog-post-thumb-5.jpg' | relative_url }}" alt="image">
        <div class="media-body">
            <h3 class="title mb-1"><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h3>
            <div class="meta mb-1"><span class="date">Published 3 months ago</span><span class="time">5 min
                    read</span><span class="comment"><a href="#">4 comments</a></span></div>
            <div class="intro">{{ page.excerpt | markdownify | truncatewords: 60 }}.</div>
            <a class="more-link" href="blog-post.html">Read more &rarr;</a>
        </div><!--//media-body-->
    </div><!--//media-->
</div><!--//item-->
{% endfor %}
{% endif %}