<div class="d-md-flex mx-3">
    <small class="copyright">
        &copy; <a href="{{ site.url }}">{{ site.title }}</a> {{ site.time | date: '%Y' }}
    </small>
    <small class="text-center" style="right: 0;">
        <a href="{{ site.repo }}" target="_blank">
            <i class="fab fa-github-alt fa-fw"></i>
            Fork Repo
        </a>
    </small>
    <small class="copyright">
        Created by
        <a href="https://mdirfan.vercel.app" target="_blank">
            Mohd Irfan
        </a> for developers <i class="fas fa-heart" style="color: #e62406;"></i>
    </small>
</div>