<header class="header text-center">
    <nav class="navbar navbar-expand-lg navbar-dark">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation"
            aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div id="navigation" class="collapse navbar-collapse flex-column">
            <!-- Profile Section Start -->
            <div class="profile-section pt-3 pt-lg-0">
                <img class="profile-image mb-3 rounded-circle mx-auto" src="{{ site.logo | relaive_url }}" alt="image">
                <h3 class="blog-name pt-2 mb-3"><a href="{{ site.navigation_header[0].url }}">{{ site.title }}'s
                        Blog</a></h3>

                <div class="bio mb-3">
                    Hi, my name is {{ site.author.name }}.
                    <p>
                        {{ site.author.bio }}
                    </p>
                    <p>I am a {{ site.author.profession }}.</p>
                    <p>
                        <strong>Email: &nbsp;</strong><a href="mailto:{{ site.email }}">
                            {{ site.author.email }}
                        </a>
                    </p>
                </div>
                <!-- Bio Section Start-->
                <ul class="social-list list-inline py-3 mx-auto">
                    <!-- Social List -->
                    {% if site.social_links.Twitter %}
                    <li class="list-inline-item"><a href="{{ site.social_links.Twitter }}"><i
                                class="fab fa-twitter fa-fw"></i></a></li>
                    {% endif %}
                    {% if site.social_links.LinkedIn %}
                    <li class="list-inline-item"><a href="{{ site.social_links.LinkedIn }}"><i
                                class="fab fa-linkedin-in fa-fw"></i></a></li>
                    {% endif %}
                    {% if site.social_links.Github %}
                    <li class="list-inline-item"><a href="{{ site.social_links.GitHub }}"><i
                                class="fab fa-github-alt fa-fw"></i></a></li>
                    {% endif %}
                    {% if site.social_links.Stackoverflow %}
                    <li class="list-inline-item"><a href="{{ site.social_links.Stackoverflow }}"><i
                                class="fab fa-stack-overflow fa-fw"></i></a></li>
                    {% endif %}
                    {% if site.social_links.Codepen %}
                    <li class="list-inline-item"><a href="{{ site.social_links.Codepen }}"><i
                                class="fab fa-codepen fa-fw"></i></a></li>
                    {% endif %}
                </ul>
                <!-- Bio Section end-->
                <hr style="background: white;">
            </div>
            <!-- Profile Section End-->


            {% include nav-header.html %}

            <div class="my-2 my-md-3">
                <a class="btn btn-primary" href="{{ site.download_resume | relative_url}}" target="_blank"
                    download="{{ site.title }}-resume">Download Resume</a>
            </div>
        </div>
    </nav>
</header>