---
layout: default
---

<!-- Header -->
{% include site-header.html %}

<div class="main-wrapper">

    <section class="blog-list px-3 py-5 p-md-5">
        <div class="container">
            <!-- Page heading and total number of posts -->
            <h1 class="font-weight-bold pb-3">Blog</h1>
            <hr>
            <p class="text-muted text-uppercase mb-4">Found {{ paginator.total_posts }} posts</p>
            {% include post-list.html %}


        </div>
    </section>

    <!-- Footer -->
    {% include site-footer.html %}
</div>